### Loading original testset

In [4]:
from datasets import load_dataset

# Load the WikiANN dataset
dataset = load_dataset("wikiann", "de")

Found cached dataset wikiann (/home/s6amalia/.cache/huggingface/datasets/wikiann/de/1.1.0/4bfd4fe4468ab78bb6e096968f61fab7a888f44f9d3371c2f3fea7e74a5a354e)

  0%|          | 0/3 [00:00<?, ?it/s]

In [20]:
import pandas as pd
ds=pd.DataFrame(dataset['test'])
def try_join(l):
    return ' '.join(l)
ds['tokens'] = [try_join(l) for l in ds['tokens']]
ds

,tokens,ner_tags,langs,spans
0,WEITERLEITUNG Hu ( Xi’an ),"[0, 5, 6, 6, 6]","[de, de, de, de, de]",[LOC: Hu ( Xi’an )]
1,"Katja Kipping , Bernd Riexinger","[1, 2, 0, 1, 2]","[de, de, de, de, de]","[PER: Katja Kipping, PER: Bernd Riexinger]"
2,Runde rammte Lorenzo Bandini an zweiter Stelle...,"[0, 0, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[de, de, de, de, de, de, de, de, de, de, de, d...",[PER: Lorenzo Bandini]
3,Im Doppel waren Marcelo Melo und André Sá die ...,"[0, 0, 0, 1, 2, 0, 1, 2, 0, 0, 0, 0, 0, 0, 0, ...","[de, de, de, de, de, de, de, de, de, de, de, d...","[PER: Marcelo Melo, PER: André Sá]"
4,' '' Gary Glitter '' ' - ''Always Yours '',"[0, 0, 1, 2, 0, 0, 0, 0, 0, 0]","[de, de, de, de, de, de, de, de, de, de]",[PER: Gary Glitter]
...,...,...,...,...
9995,Die Art kommt in der südlich der Sahelzone gel...,"[0, 0, 0, 0, 0, 0, 0, 5, 0, 5, 6, 0, 5, 0, 0, ...","[de, de, de, de, de, de, de, de, de, de, de, d...","[LOC: Sahelzone, LOC: westsudanischen Savanne,..."
9996,Danach stand er zeitweilig in schwedischen Die...,"[0, 0, 0, 0, 0, 5, 0, 0]","[de, de, de, de, de, de, de, de]",[LOC: schwedischen]
9997,Des Weiteren schließt die seit Einstellung des...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 4, ...","[de, de, de, de, de, de, de, de, de, de, de, d...",[ORG: Scheduled Monument]
9998,"Aostatal , Piemont , Lombardei , Ligurien","[5, 0, 5, 0, 5, 0, 5]","[de, de, de, de, de, de, de]","[LOC: Aostatal, LOC: Piemont, LOC: Lombardei, ..."
9999,des Abgeordnetenhauses von Berlin .,"[0, 3, 4, 4, 0]","[de, de, de, de, de]",[ORG: Abgeordnetenhauses von Berlin]

### Loading noisy testset

In [3]:
dataset_typo =load_dataset("json",data_files = '/home/s6amalia/thesis/Wikiann_noisy_dataset/test_de_typos_0.2.jsonl')

Found cached dataset json (/home/s6amalia/.cache/huggingface/datasets/json/default-fff621086d415b16/0.0.0/e347ab1c932092252e717ff3f949105a4dd28b27e842dd53157d2f72e276c2e4)

  0%|          | 0/1 [00:00<?, ?it/s]

In [21]:

df_typo=pd.DataFrame(dataset_typo['train'])
def try_join(l):
    return ' '.join(l)
df_typo['tokens'] = [try_join(l) for l in df_typo['tokens']]
df_typo

,tokens,ner_tags,langs
0,WEITERLEITUNG Hu ( Xi'an ),"[0, 5, 6, 6, 6]","[de, de, de, de, de]"
1,Runde rammte Lorenzo Bandini an zweite Stelle ...,"[0, 0, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[de, de, de, de, de, de, de, de, de, de, de, d..."
2,Im Doppel war Marcelo Melo und André Sá die Ti...,"[0, 0, 0, 1, 2, 0, 1, 2, 0, 0, 0, 0, 0, 0, 0, ...","[de, de, de, de, de, de, de, de, de, de, de, d..."
3,Alexandrasittiche kommen außerdem in dem Galer...,"[0, 0, 0, 0, 0, 5, 0, 0, 0, 0, 0]","[de, de, de, de, de, de, de, de, de, de, de]"
4,Die Cover zeigt sie zusammen Mit Kate Moss un ...,"[0, 0, 0, 0, 0, 0, 1, 2, 0, 1, 2, 0]","[de, de, de, de, de, de, de, de, de, de, de, de]"
...,...,...,...
7917,"** '' die Sopranos '' , HBO","[0, 0, 3, 4, 0, 0, 3]","[de, de, de, de, de, de, de]"
7918,Die Art kommt in dem südlich der Sahelzone gel...,"[0, 0, 0, 0, 0, 0, 0, 5, 0, 5, 6, 0, 5, 0, 0, ...","[de, de, de, de, de, de, de, de, de, de, de, d..."
7919,Danach standen er zeitweilig in Schwedischen D...,"[0, 0, 0, 0, 0, 5, 0, 0]","[de, de, de, de, de, de, de, de]"
7920,des weiteren schließt der seit Einstellung des...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 4, ...","[de, de, de, de, de, de, de, de, de, de, de, d..."
7921,der Abgeordnetenhauses von Berlin .,"[0, 3, 4, 4, 0]","[de, de, de, de, de]"

### Find original test data corresponding to the noisy dataset

In [35]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

vectorizer = TfidfVectorizer()
tfidf_matrix1 = vectorizer.fit_transform(df_typo['tokens'])
tfidf_matrix2 = vectorizer.transform(ds['tokens'])

# Calculate cosine similarity
cosine_sim = cosine_similarity(tfidf_matrix1, tfidf_matrix2)

# Threshold for considering texts as similar; change it to find the best number of data
threshold = 0.72

# Find similar rows
similar_rows = []
for i in range(len(df_typo)):
    for j in range(len(ds)):
        if cosine_sim[i, j] > threshold:
            similar_rows.append((i, j))
columns = ds.columns
similar_df = []

for pair in similar_rows:
    similar_df.append(ds.iloc[pair[1]])
df_test_1 = pd.DataFrame(similar_df)   

print('Found',len(df_test_1),'of', len(df_typo))

Found 7841 of 7922

### Loading pretrained model

In [32]:
from transformers import AutoTokenizer
from transformers import AutoModelForTokenClassification
import pandas as pd
import torch
model = AutoModelForTokenClassification.from_pretrained("/home/s6amalia/xlmroberta-wikiann-de.pt")
tokenizer = AutoTokenizer.from_pretrained("/home/s6amalia/xlmroberta-wikiann-de.tk")

### Predict labels and Accuracy

In [34]:
def cal_accuracy(dataset):
    right_count = 0
    wrong_count = 0
    for i in range(len(dataset)):
        print(int(i*100/len(dataset)),'%', end='\r')
        inputs = dataset['tokens'][i]
        inputs = tokenizer(inputs,truncation=True, is_split_into_words=True,return_tensors="pt")
        with torch.no_grad():
            logits = model(**inputs).logits
        predictions = torch.argmax(logits, dim=-1)
#         predicted_token_class = [model.config.id2label[t.item()] for t in predictions[0]]
        res=pd.DataFrame([inputs.word_ids(batch_index=0),predictions[0].tolist()])

    # tokenizer.convert_ids_to_tokens(inputs["input_ids"][0])
        res=res.transpose()
        res.columns=['idx','label']
        res=res.drop_duplicates(subset=['idx'], keep='first')[1:]
        res['true_label']  = dataset[i]['ner_tags']
        r = 0
        w = 0
        for j in range(len(res)):
            if (res['true_label'].iloc[j] == res['label'].iloc[j]):
                if res['true_label'].iloc[j] != 0 :
                    r = r+1
            else:         
                w = w +1 

        right_count = right_count + r
        wrong_count = wrong_count + w
        
    return right_count,wrong_count

In [ ]:
## Noisy Dataset
right_count , wrong_count = cal_accuracy(dataset_typo)
print('Accuracy = ',100*right_count/(right_count+wrong_count))

In [ ]:
## Original dataset
right_count , wrong_count = cal_accuracy(df_test_1)
print('Accuracy = ',100*right_count/(right_count+wrong_count))