### original test data

In [1]:
import pandas as pd
language = 'en'
from datasets import load_dataset
dataset = load_dataset('xnli', split='test',language=language)
df_test = pd.DataFrame(dataset)
df_test

Found cached dataset xnli (/home/s6amalia/.cache/huggingface/datasets/xnli/default-language=en/1.1.0/818164464f9c9fd15776ca8a00423b074344c3e929d00a2c1a84aa5a50c928bd)

,premise,hypothesis,label
0,"Well, I wasn't even thinking about that, but I...",I havent spoken to him again.,2
1,"Well, I wasn't even thinking about that, but I...",I was so upset that I just started talking to ...,0
2,"Well, I wasn't even thinking about that, but I...",We had a great talk.,1
3,"And I thought that was a privilege, and it's s...",I was not aware that I was not the only person...,1
4,"And I thought that was a privilege, and it's s...",I was under the impression that I was the only...,0
...,...,...,...
5005,Davidson should not adopt the pronunciation of...,Davidson shouldn't talk in a way where bone an...,0
5006,Davidson should not adopt the pronunciation of...,It would be better if Davidson rhymed the word...,2
5007,"The average novel of 200,000 words for $25 wor...","A 200,000 word novel at $25 is a fair price.",1
5008,"The average novel of 200,000 words for $25 wor...","A 200,000 word novel for $25 is 4,000 words pe...",2
5009,"The average novel of 200,000 words for $25 wor...","A 200,000 word novel for $25 is 8,000 words pe...",0

### Test data with typo

In [2]:

DATA_DIR = r"/home/s6amalia/thesis/"
df_typo = pd.read_table(DATA_DIR+'test_'+language+'_typos_0.05.tsv')
df_typo

,premise,hypothesis,label
0,"'Well, i wasn't event thinking about that, but...",'I havent spoke to him again.',2
1,"'Well, I wasn't even thinking about that, but ...",'I was so upset that I just started talkng to ...,0
2,"'Well, I wasn't even thinking Pabout that, but...",'We had an great talk.',1
3,"'And I thought that was a privilege, and it's ...",'i was not aware that I was not the only perso...,1
4,"'And I thought that was a privilege, and it's ...",'I was Under the impression that I is the only...,0
...,...,...,...
5005,'Davidson would not adopt the pronunciation of...,'Davidson shouldn't talk in a way where bone A...,0
5006,'Davidson should not adopt the pronunciation o...,'It would be better if Davison rhymed the word...,2
5007,"'The average novel of 200,000 words for $25 Wo...","'A 200,000 word novel at $25 is of fair price.'",1
5008,"'The average Novel of 200,000 words for $25 wo...","'A 200,000 word novel for $25 id 4,000 words p...",2
5009,"'The average novel of 200,000 words for $25 wo...","'A 200,000 word novel for $25 is 8,000 word pe...",0

### Number of typos in each sentences

In [54]:
import difflib
def typo_count(s1,s2):
    
    # Create a Differ object
    differ = difflib.Differ()

    # Compare the two texts line by line
    diff = list(differ.compare(s1.splitlines(), s2.splitlines()))
    num_changes = sum(1 for line in diff if line.startswith('-') or line.startswith('+'))
    return num_changes

In [55]:
typos = []
for i in range(len(dftest)):
    s2 = df_typo['premise'].iloc[i][1:-1]
    s1 = dftest['sentence1'].iloc[i]
    typos.append(typo_count(s1,s2))

In [59]:
typo_count(dftest['sentence1'].iloc[4000],df_typo['premise'].iloc[4000][1:-1])

2

### Find original test data corresponding to the typo dataset

In [93]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

vectorizer = TfidfVectorizer()
tfidf_matrix1 = vectorizer.fit_transform(df_typo['hypothesis'])
tfidf_matrix2 = vectorizer.transform(df_de['hypothesis'])

# Calculate cosine similarity
cosine_sim = cosine_similarity(tfidf_matrix1, tfidf_matrix2)

# Threshold for considering texts as similar
threshold = 0.77

# Find similar rows
similar_rows = []
for i in range(len(df_typo)):
    for j in range(len(df_de)):
        if cosine_sim[i, j] > threshold:
            similar_rows.append((i, j))
columns = df_de.columns
similar_df = []

for pair in similar_rows:
    similar_df.append(df_de.iloc[pair[1]])
df_test = pd.DataFrame(similar_df)   

print('Found',len(df_test),'of', len(df_typo))

number of rows 656 of 658

df_test

### Predict labels

In [9]:
 pd.options.display.max_colwidth = 300
df['premise'][6:9]

6    'They told me that, uh, that I would be called of a guy at the end for me to meet.'
7    'They told me that, uh, that I would be called in A guy at the end for me to meet.'
8    'They told me that, uh, that I would be called in a guy as the end for me to meet.'
Name: premise, dtype: object

In [12]:
from sklearn.metrics import accuracy_score
from transformers import AutoTokenizer, AutoModelForSequenceClassification
import torch
device = torch.device("cuda") if torch.cuda.is_available() else torch.device("cpu")

In [12]:
model_name = "joeddav/xlm-roberta-large-xnli"
# model_name = "MoritzLaurer/mDeBERTa-v3-base-xnli-multilingual-nli-2mil7"
tokenizer = AutoTokenizer.from_pretrained(model_name ,token='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',use_fast=False)
model = AutoModelForSequenceClassification.from_pretrained(model_name,token='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')
model.config

Some weights of the model checkpoint at joeddav/xlm-roberta-large-xnli were not used when initializing XLMRobertaForSequenceClassification: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
- This IS expected if you are initializing XLMRobertaForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing XLMRobertaForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

XLMRobertaConfig {
  "_name_or_path": "joeddav/xlm-roberta-large-xnli",
  "architectures": [
    "XLMRobertaForSequenceClassification"
  ],
  "attention_probs_dropout_prob": 0.1,
  "bos_token_id": 0,
  "classifier_dropout": null,
  "eos_token_id": 2,
  "gradient_checkpointing": false,
  "hidden_act": "gelu",
  "hidden_dropout_prob": 0.1,
  "hidden_size": 1024,
  "id2label": {
    "0": "contradiction",
    "1": "neutral",
    "2": "entailment"
  },
  "initializer_range": 0.02,
  "intermediate_size": 4096,
  "label2id": {
    "contradiction": 0,
    "entailment": 2,
    "neutral": 1
  },
  "layer_norm_eps": 1e-05,
  "max_position_embeddings": 514,
  "model_type": "xlm-roberta",
  "num_attention_heads": 16,
  "num_hidden_layers": 24,
  "output_past": true,
  "pad_token_id": 1,
  "position_embedding_type": "absolute",
  "transformers_version": "4.32.1",
  "type_vocab_size": 1,
  "use_cache": true,
  "vocab_size": 250002
}

In [16]:
from transformers import AutoTokenizer,XLMRobertaForSequenceClassification
tokenizer = AutoTokenizer.from_pretrained("xlm-roberta-base")
model = XLMRobertaForSequenceClassification.from_pretrained("/home/s6amalia/xlmroberta-xnli.pt")

In [18]:


def predict_labels(df):
    all_pred = []
    for i in range(len(df)):
        premise = df['premise'].iloc[i]
        hypothesis = df['hypothesis'].iloc[i]
        input = tokenizer(premise, hypothesis, truncation=True, return_tensors="pt")
        output = model(input["input_ids"].to(device))  # device = "cuda:0" or "cpu"
#         print(output)
        prediction = torch.softmax(output["logits"][0], -1).tolist()
        label_names = ["entailment", "neutral", "contradiction"]
        # prediction = {name: round(float(pred) * 100, 1) for pred, name in zip(prediction, label_names)}
        all_pred.append(prediction.index(max(prediction)))
        print(int(i*100/len(df)),'%', end='\r')
    print(round( accuracy_score(all_pred, df['label'])*100,2))   
    return all_pred

In [5]:
torch.cuda.is_available()

False

In [19]:
all_pred = predict_labels(df_test)

84.41

In [20]:
all_pred = predict_labels(df_typo)

80.28